.about {
  position: relative;
  margin-top: 200px;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 150px;
}

.description-about h2 {
  font-family: "Montserrat", monospace;
  font-size: 54px;
  font-weight: 700;
  line-height: 65px;
  color: #3d3d45;
  padding-bottom: 50px;
}

.description-about p {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.06em;
}

.infos {
  position: absolute;
  background-color: white;
  width: 1150px;
  height: 270px;
  padding: 35px 60px;
  top: 420px;
  right: 250px;
}

.infos-list {
  display: flex;
  gap: 100px;
}

.infos-list h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #e09d00;
}

.infos-list p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: center;
  padding-top: 15px;
}
