.footer {
  margin-top: 200px;
  background-color: #3d3d45;
}

.footer-conteudo {
  padding: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 130px;
}

.footer p {
  font-family: "Montserrat", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: white;
}

.footer h2 {
  font-family: "Montserrat", monospace;
  font-size: 24px;
  font-weight: 800;
  line-height: 22px;
  color: white;

  margin-bottom: 30px;
}

.footer a {
  font-family: "Montserrat", monospace;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  color: white;
  padding: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.phone,
.mail,
.instagram,
.linkedin {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 25px;
}

.contact,
.socialMedia {
  margin-top: 100px;
}

@media (max-width: 576px) {
  .footer {
    margin-top: 100px;
  }
  .footer-conteudo {
    max-width: 300px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 25px;
    justify-content: center;
  }
  .footer p {
    text-align: center;
  }
  .footer a {
    font-size: 16px;
  }
  .contact,
  .socialMedia {
    margin-top: 30px;
  }
  .contact h2,
  .socialMedia h2 {
    text-align: center;
    padding-bottom: 10px;
  }
  .phone,
  .mail,
  .instagram,
  .linkedin {
    flex-direction: column;
    text-align: center;
  }
  .info img {
    width: 300px;
    gap: 10px;
    align-items: center;
  }
}
