.service {
  margin-top: 200px;
}

.service h2 {
  font-family: "Montserrat", monospace;
  font-size: 54px;
  font-weight: 700;
  line-height: 74px;
  color: #3d3d45;
  padding-bottom: 100px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 65px;
  margin-bottom: 70px;
}

.servicos1 {
  margin-bottom: 70px;
}

.cards-servicos {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}

.cards-servicos h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #e09d00;
  letter-spacing: 0.06em;
  padding-bottom: 10px;
}

.cards-servicos p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.cta-service {
  grid-column: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.cta-service a {
  display: block;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  padding: 15px 35px;
  border-radius: 4px;
  color: #fff;
  background: #e09d00;
  margin-top: 70px;
}

.cta-service a:hover {
  background: #e08d00;
}

@media (max-width: 600px) {
  .service {
    margin-top: 750px;
  }

  .service h2 {
    font-size: 35px;
    padding-bottom: 50px;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .cards-servicos {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 15px;
  }

  .cards-servicos h3 {
    padding-bottom: 0px;
  }

  .cards-servicos p {
    max-width: 300px;
  }

  .cta-service {
    grid-row: 3;
    font-size: 16px;
    text-align: center;
  }

  .cta-service a {
    font-size: 16px;
    margin: 0px;
  }

  .servicos1 {
    margin-bottom: 40px;
  }
  .cards {
    gap: 40px;
  }
}
